@use "./shared/variables" as *;
@use "./shared/typography";

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // overflow: hidden;
    position: relative;
    .sectionHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 100vh;
        h2 {
            writing-mode: sideways-lr;
            height: 45%;
        }
        .lineContainer {
            height: 50%;
            .accentLine {
                width: 5px;
                height: clamp(300px, 40vh, 500px);
                transform: translateX(5px);
            }
        }
    }
    .sectionContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 50px;
        .aboutMe {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .imgContainer {
                width: 30%;
                border-radius: 50%;
                overflow: hidden;
                filter: grayscale(100%);
            }
            .textContainer {
                width: 70%;
                margin: 60px;
            }
        }

        .techStack {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                margin: 50px;
                text-align: center;
            }
        }
    }
}