@use "./shared/variables" as *;
@use "./shared/mixins" as *;

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 100px 0 0;
    @include mobile {
        justify-content: center;
    }

    .sectionHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 100vh;
        padding-right: 80px;
        @include tablet {
            display: none;
        }
        @include vertical {
            display: none;
        }

        h2 {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            height: 50%;
            min-height: fit-content;
            justify-self: flex-end;
            font-size: clamp(2rem, 12vh, 3.5rem);
            text-align: left;
        }

        .lineContainer {
            min-height: fit-content;
            z-index: -1;
            height: 50%;
            .accentLine {
                width: 5px;
                height: clamp(250px, 50vh, 700px);
                transform: translateX(5px);
            }
        }
    }

    .sectionContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 50px 0px 0px 50px;
        @include mobile {
            padding: 50px 0px;
        }

        .aboutMe {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include largeTablet {
                flex-direction: column;
            }
            .imgFlexContainer {
                width: 40%;
                min-width: 180px;
                min-height: 180px;
                border-radius: 50%;
                box-shadow: 0 0 10px 3px $medOrange;
                overflow: hidden;
                object-fit: cover;
                @include largeTablet {
                    align-self: center;
                }
                img {
                    filter: grayscale(100%);
                }
            }

            .textContainer {
                width: 60%;
                margin: 30px;
                padding-left: 50px;
                @include largeTablet {
                    width: 90%;
                    padding-left: 0;
                }
                p {
                    margin: 20px 0;
                }
            }
        }

        .techStack {
            margin: 80px 0;
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            pointer-events: none;
            @include desktop {
                width: 80%;
            }
            @include mobile {
                width: 100%;
                margin: 20px 0 0;
            }
            
            li {
                width: 25%;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                @include desktop {
                    width: 33%;
                }
                .devicon {
                    font-size: 2.5rem;
                    @include mobile {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}