@use "./shared/variables" as *;
@use "./shared/typography";

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 100px 0 0;
    // overflow: hidden;
    .sectionHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 100vh;
        h2 {
            writing-mode: sideways-lr;
            height: fit-content;
            justify-self: flex-end;
            padding-top: 100px;
        }
        .lineContainer {
            height: fit-content;
            .accentLine {
                width: 5px;
                height: clamp(300px, 40vh, 600px);
                transform: translateX(5px);
            }
        }
    }
    .sectionContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 50px;
        .aboutMe {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .imgFlexContainer {
                width: 40%;
                //filter: grayscale(100%);
                .image {
                    border-radius: 50%;
                    box-shadow: 0 0 15px 3px $darkGray;
                    overflow: hidden;
                    min-width: 400px;
                    max-width: 400px;
                    min-height: 400px;
                    max-height: 400px;
                    object-fit: contain;
                }
                    img {
                        transform: translate(10px, -40px);
                        max-width: 100%;
                        height: auto;
                    }
            }
            .textContainer {
                width: 60%;
                margin: 60px;
                p {
                    margin: 20px 0;
                }
            }
        }

        .techStack {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                width: 150px;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .devicon {
                    font-size: 2.5rem;
                }
                
            }
        }
    }
}