@use "./shared/variables" as *;
@use "./shared/typography";

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .images {
        width: 40vw;
    }
    .sectionContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
        margin: 20px 20px 20px 100px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 999;
        
        .personalInfo {
            display: flex; 
            width: calc(100% - 20px);
            justify-content: space-between;
            li {
                width: 45%;
                input {
                    width: 100%;
                }
            }
        }
        .messageContainer {
            display: flex;
            flex-direction: column;
            width: calc(100% - 20px);
            justify-self: space-between;
            input, textarea {
                width: 100%;
            }
        }

        input, textarea {
            transition: 0.3s;
            background-color: white;
            &:hover, &:focus {
                box-shadow: 5px 5px $lightGray;
            }
        }

        button {
            all:unset;
            // align-self: flex-end;
            background-color: $lightPink;
            color: $darkGray; 
            padding: 10px 20px;
            border-radius: 5px;
            width: fit-content;
            margin: 10px 0;
            text-align: center;
            transition: 0.3s;
            
            &:hover, &:focus {
                background-color: $medOrange;
                transform: scale(1.05);
            }
        }
    }

    .socialMediaContainer {
        padding: 50px 0;
        align-self: center;
        display: flex;
        justify-content: space-between;
        width: 40%;
        align-items: center;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            p {
                padding: 10px;
            }
        }
    }
}