@use "./shared/variables" as *;

footer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 25px 0;
    height: fit-content;
    .accentLine {
        background-color: $medOrange;
        width: 40%;
        border-radius: 5px;
    }
    p {
        width: 20%;
        min-width: fit-content;
        text-align: center;
    }
}