@use "./shared/variables" as *;
@use "./shared/mixins" as *;

header {
    max-width: 1800px;
    z-index: 9;
}

.menu {
    display: none;
    position: absolute;
    z-index: 9;
    padding: 20px;
    @include mobile {
        display: block;
    }
}

.navigation {
    z-index: 9;
    padding: 20px;
    position:fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    transform: translateX(-100%) ;
    li {
        padding: 10px 0;
    }
}

.leftPanel {
    min-height: 100vh;
    width: 50px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 0;
    @include mobile {
        display: none;
    }

    .logo {
        line-height: 26px;
        align-self: center;
        background-color: $brightOrange;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: white;
        text-align: center;
    }

    .socialMediaContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: clamp(300px, 30vh, 600px);
        .listItem {
            margin: 10px 0;
            display: flex;
        }
        .navLine {
            height: clamp(100px, 25vh, 500px);
            width: 3px;
            background-color: $darkGray;
        }
        @include vertical {
            display: none;
        }
    }
}

.rightPanel {
    text-align: right;
    min-height: 100vh;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 50px;
    @include largeDesktop {
        left: calc(1800px + ((100vw - 1800px) / 2 - 5%))
    }
    @include mobile {
        display: none;
    }
    @include vertical {
        display: none;
    }

    .navIcons {
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        align-items: center;
    }

    .toTop {
        all:unset;
        margin-bottom: 50px;
        justify-self: center;
        i {
            color: $medOrange;
            &:hover, &:focus {
                color: $brightOrange;
            }
        }
    }
}