@use "./shared/variables" as *;
@use "./shared/typography";


.home {
    .sectionText {
        display: flex;
        flex-basis: 30vw;
        justify-content: space-between;
    }

    .role {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 200px;
        .swipe {
            display: flex;
            flex-direction: row;
            width: 200px;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
}