@use "./shared/variables" as *;
@use "./shared/typography";
@use "./shared/mixins" as *;

.background {
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    // overflow-y: visible;
    // overflow-x: hidden;
    overflow: clip;
    @include largeDesktop {
        overflow: visible;
    }
    @include desktop {
        transform: translateX(50px);
    }
    @include tablet {
        transform: translateX(-50px); 
    }
    
    .mainImage {
        background-image: url("../assets/mainImage.jpg");
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background-size: cover;
        transform: translateX(550px);
        @include desktop {
            width: 450px;
            height: 450px;
        }
        @include tablet {
            transform: translateX(500px);
        }
        @include tablet {
            width: 400px;
            height: 400px;
        }
        p {
            font-size: 2.5rem;
            color: $gray;
            transform: translate(470px, 50px);
            @include tablet {
                display: none;
            }
        }
    }

    .bgImage {
        background-image: url("../assets/seagull.jpg");
        filter: grayscale(100%);
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background-size: cover;
        background-position: -200px -100px;
        z-index: -9;
        @include largeDesktop {
            transform: scale(1.5);
        }
        @include desktop {
            transform: scale(1.4);
        }
        @include tablet {
            transform: scale(1.3);
        }
        @include mobile {
            transform: scale(1);
        }
    }

    .circleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(450px);
        @include mobile {
            transform: translateX(380px);
        }
        .circle {
            background-color: $brightOrange;
            opacity: 50%;
            &.small {
                height: 100px;
                width: 100px;
            }
            &.large {
                height: 250px;
                width: 250px;
                margin-right: 100px;
                @include desktop {
                    margin-right: 60px;
                }
            }
        }
    }
}

.home {
    height: 100vh;
    width: 100vw;
    max-width: 1800px;
    padding: 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .sectionText {
        padding: 10px 0;
        justify-self: flex-end;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        z-index: 1;
        height: 90vh;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }

        h1 {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            color: black;
            text-align: left;
            text-shadow: -1px -1px 0 $medOrange, 1px -1px 0 $medOrange, -1px 1px 0 $medOrange, 1px 1px 0 $medOrange;
        }
        h2 {
            font-size: clamp(calc(3 * $baseFontSize), 5vw, calc(4 * $baseFontSize));
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        }
        h3 {
            font-size: clamp(calc(1.75 * $baseFontSize), 3.5vw, calc(2.75 * $baseFontSize));
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        }
    }

    .role {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
        width: 300px;
        @include tablet {
            align-self: flex-end;
        }

        .swipe {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: flex-start;
            justify-content: center;
            text-align: center;
            width: 300px;
            @include desktop {
                width: 250px;
            }
            
            .otherRoles {
                padding-left: 20px;
                max-height: 50px;
            }
        }
    }
}