@use "./shared/variables" as *;
@use "./shared/typography";


header {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    // min-width: 100vw;
    position: sticky;
    top: 0px;
    overflow: hidden;
    a {
        z-index: 9;
    }
}

.leftPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px 0;
    .logo {
        align-self: center;
        background-color: $brightOrange;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: white;
        text-align: center;
    }
    .socialMediaContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: clamp(300px, 30vh, 600px);
        .listItem {
            margin: 10px 0;
            display: flex;
        }
        .navLine {
            height: clamp(100px, 25vh, 500px);
            width: 3px;
            background-color: black;
        }
    }
}

.rightPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 5%;
    .navIcons {
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        align-items: center;
    }
    .toTop {
        margin-bottom: 20px;
        i {
            color: $brightOrange;
            opacity: 50%;
        }
    }
}