@use "./shared/variables" as *;
@use "./shared/typography";

.projects {
    display: flex;
    flex-direction: column;
    img {
        filter: grayscale(100%);
        transition: 0.3s; 
        &:hover, &:focus {
            filter: grayscale(0%);
            transform: scale(1.1);
        }
    }
    .sectionHeader {
        display: flex;
        flex-direction: column;
        margin: 30px;
        .accentLine {
            width: 150px;
            margin: 20px 0;
        }
    }
    .projectContainer {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        .project {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 50px;
            background-color: $lightPink;
            border-radius: 10px;
            .imgContainer {
                border-radius: 50%;
                overflow: hidden;
                width: 40%;
                height: auto;
            }
            .textContainer {
                margin: 0 30px;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                p {
                    margin-bottom: 20px;
                }
                .links {
                    letter-spacing: 10px;
                }
            }
        }
        li:nth-child(2) {
            background-color: white;
            flex-direction: row-reverse;
            }

    }
}