@use "./shared/variables" as *;
@use "./shared/typography";

.projects {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    img {
        filter: grayscale(100%);
    }
    .sectionHeader {
        display: flex;
        flex-direction: column;
        margin: 30px;
        .accentLine {
            width: 150px;
            margin: 20px 0;
        }
    }
    .sectionContent {
        align-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        .arrowContainer {
            margin: 25px;
        }
        .projectContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 20px;
            li {
                margin: 30px;
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
            .imgContainer {
                border-radius: 50%;
                overflow: hidden;
                width: 200px;
                height: 200px;
                margin-bottom: 20px;
            }
        }
    }
}