html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Khand";
  src: url(../fonts/Khand/Khand-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Khand";
  src: url(../fonts/Khand/Khand-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Jura";
  src: url(../fonts/Jura/static/Jura-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Jura";
  src: url(../fonts/Jura/static/Jura-Bold.ttf);
  font-weight: bold;
}
html {
  font-size: 100%;
}

body {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  color: #151515;
  font-weight: normal;
  font-family: Jura, sans-serif;
}

h1 {
  font-size: clamp(7rem, 12vw, 11rem);
  margin: 0;
}

h2 {
  font-size: clamp(3.5rem, 18vw, 5rem);
  color: black;
  margin: 20px 0;
}

h3 {
  font-size: clamp(2rem, 15vw, 4rem);
  margin: 0;
}

h4 {
  font-size: clamp(1.5rem, 8vw, 2rem);
  margin: 20px 0;
}

p {
  margin: 0;
}

section {
  min-height: 100vh;
}

body {
  max-width: 1800px;
  margin: 0 auto;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
  width: 500px;
  height: 500px;
}

.accentLine {
  background-color: #fd5800;
  height: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, textarea {
  all: unset;
  border: 1px solid #6a6a75;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

a {
  color: black;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover, a:focus {
  color: #fd5800;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

i:hover, i:focus {
  color: #fd5800;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.sectionBg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: -9;
  display: none;
}
.sectionBg .circle {
  background-color: #fd5800;
  opacity: 50%;
  -webkit-transform: translate(10vw, 10vh);
          transform: translate(10vw, 10vh);
}
.sectionBg .circleOutline {
  border: 50px solid #fd5800;
  opacity: 50%;
  border-radius: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 600px;
  height: 600px;
  -webkit-transform: translate(-15vw, -20vh);
          transform: translate(-15vw, -20vh);
}

header {
  max-width: 1800px;
  z-index: 9;
}

.menu {
  position: fixed;
  padding: 20px;
}

.leftPanel {
  min-height: 100vh;
  width: 50px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0;
}
@media (max-width: 480px) {
  .leftPanel {
    display: none;
  }
}
.leftPanel .logo {
  line-height: 26px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #fd5800;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
}
.leftPanel .socialMediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: clamp(300px, 30vh, 600px);
}
.leftPanel .socialMediaContainer .listItem {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.leftPanel .socialMediaContainer .navLine {
  height: clamp(100px, 25vh, 500px);
  width: 3px;
  background-color: black;
}

.rightPanel {
  text-align: right;
  min-height: 100vh;
  right: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  width: 50px;
}
@media (min-width: 1800px) {
  .rightPanel {
    left: calc(1800px + (100vw - 1800px) / 2 - 5%);
  }
}
@media (max-width: 480px) {
  .rightPanel {
    display: none;
  }
}
.rightPanel .navIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rightPanel .toTop {
  all: unset;
  margin-bottom: 50px;
  justify-self: center;
}
.rightPanel .toTop i {
  color: #fdaa7e;
}
.rightPanel .toTop i:hover, .rightPanel .toTop i:focus {
  color: #fd5800;
}

.background {
  z-index: -1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1024px) {
  .background {
    -webkit-transform: scale(0.9) translateX(50px);
            transform: scale(0.9) translateX(50px);
  }
}
@media (max-width: 768px) {
  .background {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
.background .mainImage {
  background-image: url("../assets/mainImage.jpg");
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-size: cover;
  -webkit-transform: translateX(550px);
          transform: translateX(550px);
}
@media (max-width: 768px) {
  .background .mainImage {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}
.background .mainImage p {
  font-size: 2.5rem;
  color: #6a6a75;
  -webkit-transform: translate(470px, 50px);
          transform: translate(470px, 50px);
}
@media (max-width: 768px) {
  .background .mainImage p {
    display: none;
  }
}
.background .bgImage {
  background-image: url("../assets/seagull.jpg");
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-size: cover;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  z-index: -9;
}
@media (max-width: 768px) {
  .background .bgImage {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.background .circleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(450px);
          transform: translateX(450px);
}
@media (max-width: 480px) {
  .background .circleContainer {
    -webkit-transform: translateX(380px);
            transform: translateX(380px);
  }
}
.background .circleContainer .circle {
  background-color: #fd5800;
  opacity: 50%;
}
.background .circleContainer .circle.small {
  height: 100px;
  width: 100px;
}
.background .circleContainer .circle.large {
  height: 250px;
  width: 250px;
  margin-right: 100px;
}
@media (max-width: 1024px) {
  .background .circleContainer .circle.large {
    margin-right: 60px;
  }
}

.home {
  min-height: 100vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .sectionText {
  padding: 10px 0;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
  width: 100%;
  height: 90vh;
}
@media (max-width: 768px) {
  .home .sectionText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.home .sectionText h1 {
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  min-height: 450px;
}
@media (max-width: 768px) {
  .home .sectionText h1 {
    padding-right: 20px;
    text-align: right;
  }
}
@media (max-width: 480px) {
  .home .sectionText h1 {
    padding-right: 0;
  }
}
.home .sectionText h2 {
  font-size: clamp(3rem, 5vw, 4rem);
}
.home .sectionText h3 {
  font-size: clamp(2rem, 3.75vw, 3rem);
}
.home .role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  width: 350px;
}
@media (max-width: 768px) {
  .home .role {
    text-align: right;
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-left: 20px;
  }
}
.home .role .swipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .home .role .swipe {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 480px) {
  .home .role .swipe {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.home .role .swipe .otherRoles {
  padding-left: 20px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 100px 0 0;
}
.about .sectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 100vh;
  padding-right: 80px;
}
@media (max-width: 768px) {
  .about .sectionHeader {
    display: none;
  }
}
.about .sectionHeader h2 {
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  height: 50%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  justify-self: flex-end;
  font-size: clamp(2rem, 12vh, 3.5rem);
  text-align: left;
}
.about .sectionHeader .lineContainer {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  z-index: -1;
  height: 50%;
}
.about .sectionHeader .lineContainer .accentLine {
  width: 5px;
  height: clamp(250px, 50vh, 700px);
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.about .sectionContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 50px 0px 0px 50px;
}
.about .sectionContent .aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 850px) {
  .about .sectionContent .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about .sectionContent .aboutMe .imgFlexContainer {
  width: 40%;
  min-width: 180px;
  min-height: 180px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 3px #fdaa7e;
          box-shadow: 0 0 10px 3px #fdaa7e;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 850px) {
  .about .sectionContent .aboutMe .imgFlexContainer {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.about .sectionContent .aboutMe .textContainer {
  width: 60%;
  margin: 30px;
  padding-left: 50px;
}
@media (max-width: 850px) {
  .about .sectionContent .aboutMe .textContainer {
    width: 90%;
    padding-left: 0;
  }
}
.about .sectionContent .aboutMe .textContainer p {
  margin: 20px 0;
}
.about .sectionContent .techStack {
  margin: 80px 0;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
}
@media (max-width: 1024px) {
  .about .sectionContent .techStack {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .about .sectionContent .techStack {
    width: 100%;
    margin: 20px 0 0;
  }
}
.about .sectionContent .techStack li {
  width: 25%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 1024px) {
  .about .sectionContent .techStack li {
    width: 33%;
  }
}
.about .sectionContent .techStack li .devicon {
  font-size: 2.5rem;
}
@media (max-width: 480px) {
  .about .sectionContent .techStack li .devicon {
    font-size: 2rem;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 50px 0;
}
.projects img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.projects img:hover, .projects img:focus {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.projects .sectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}
.projects .sectionHeader .accentLine {
  width: 150px;
  margin: 20px 0;
}
.projects .projectContainer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}
@media (max-width: 1024px) {
  .projects .projectContainer {
    width: 95%;
  }
}
.projects .projectContainer .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 50px;
  background-color: #ffe9e1;
  border-radius: 10px;
}
@media (max-width: 850px) {
  .projects .projectContainer .project {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .projects .projectContainer .project {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 480px) {
  .projects .projectContainer .project {
    width: 85%;
    padding: 50px 20px;
  }
}
.projects .projectContainer .project .imgContainer {
  border-radius: 50%;
  overflow: hidden;
  width: 40%;
  height: auto;
}
@media (max-width: 768px) {
  .projects .projectContainer .project .imgContainer {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .projects .projectContainer .project .imgContainer {
    width: 80%;
    margin-bottom: 20px;
  }
}
.projects .projectContainer .project .textContainer {
  margin: 0 30px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (max-width: 768px) {
  .projects .projectContainer .project .textContainer {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .projects .projectContainer .project .textContainer {
    margin: 0;
  }
}
.projects .projectContainer .project .textContainer p {
  margin-bottom: 20px;
}
.projects .projectContainer .project .textContainer .skills {
  color: #6a6a75;
}
.projects .projectContainer .project .textContainer .links {
  letter-spacing: 10px;
}
.projects .projectContainer li:nth-child(2) {
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .projects .projectContainer li:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .imgFlexContainer {
  display: block;
  width: 50%;
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
}
@media (max-width: 1100px) {
  .contact .imgFlexContainer {
    display: none;
  }
}
@media (max-width: 1100px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact .sectionContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 20px;
}
.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.contact form .personalInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 20px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .contact form .personalInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact form .personalInfo li {
  width: 45%;
}
@media (max-width: 768px) {
  .contact form .personalInfo li {
    width: 100%;
  }
}
.contact form .personalInfo li input {
  width: 100%;
}
.contact form .messageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 20px);
  justify-self: space-between;
}
.contact form .messageContainer input, .contact form .messageContainer textarea {
  width: 100%;
}
.contact form input, .contact form textarea {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-image: url("../assets/toronto.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: screen;
}
.contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
  color: black;
}
.contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
  color: black;
}
.contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  color: black;
}
.contact form input::-ms-input-placeholder, .contact form textarea::-ms-input-placeholder {
  color: black;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  color: black;
}
.contact form input:hover, .contact form input:focus, .contact form textarea:hover, .contact form textarea:focus {
  -webkit-box-shadow: 5px 5px #fdaa7e;
          box-shadow: 5px 5px #fdaa7e;
}
.contact form textarea {
  background-position-y: -50px;
}
@media (max-width: 768px) {
  .contact form textarea {
    background-position-y: 0px;
  }
}
.contact form .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 480px) {
  .contact form .buttonContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact form .socialMediaContainer {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact form .socialMediaContainer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact form .socialMediaContainer a p {
  margin: 0 20px;
}
@media (max-width: 480px) {
  .contact form .socialMediaContainer {
    padding-top: 50px;
  }
}
.contact form button {
  all: unset;
  background-color: #ffe9e1;
  color: #151515;
  padding: 10px 20px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 0;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact form button:hover, .contact form button:focus {
  background-color: #fdaa7e;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  padding: 25px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
footer .accentLine {
  background-color: #fdaa7e;
  width: 40%;
  border-radius: 5px;
}
footer p {
  width: 20%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-align: center;
  padding: 0 20px;
}