html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Khand";
  src: url(../fonts/Khand/Khand-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Khand";
  src: url(../fonts/Khand/Khand-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Jura";
  src: url(../fonts/Jura/static/Jura-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Jura";
  src: url(../fonts/Jura/static/Jura-Bold.ttf);
  font-weight: bold;
}
html {
  font-size: 100%;
}

body {
  font-size: 1.25rem;
  color: #151515;
  font-weight: normal;
  font-family: Jura, sans-serif;
}

h1 {
  font-size: 10vw;
  font-size: clamp(6rem, 10vw, 10rem);
  margin: 0;
}

h2 {
  font-size: 5rem;
  color: black;
  margin: 20px 0;
}

h3 {
  font-size: 4rem;
  margin: 0;
}

h4 {
  font-size: 2rem;
  margin: 20px 0;
}

p {
  margin: 0;
}

section {
  min-height: 100vh;
}

body {
  max-width: 1800px;
  margin: 0 auto;
  overflow-x: hidden;
  border: 5px solid red;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
  min-width: calc(90% - 160px);
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
  width: 500px;
  height: 500px;
}

.accentLine {
  background-color: #fd5800;
  height: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, textarea {
  all: unset;
  border: 1px solid #6a6a75;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

a {
  color: black;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover, a:focus {
  color: #fd5800;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

i:hover, i:focus {
  color: #fd5800;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.sectionBg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
  z-index: -9;
}
.sectionBg .circle {
  background-color: #fd5800;
  opacity: 50%;
  -webkit-transform: translate(10vw, 10vh);
          transform: translate(10vw, 10vh);
}
.sectionBg .circleOutline {
  border: 50px solid #fd5800;
  opacity: 50%;
  border-radius: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 600px;
  height: 600px;
  -webkit-transform: translate(-15vw, -20vh);
          transform: translate(-15vw, -20vh);
}

header {
  max-width: 1800px;
}

.leftPanel {
  min-height: 100vh;
  width: 50px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}
.leftPanel .logo {
  line-height: 26px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #fd5800;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
}
.leftPanel .socialMediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: clamp(300px, 30vh, 600px);
}
.leftPanel .socialMediaContainer .listItem {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.leftPanel .socialMediaContainer .navLine {
  height: clamp(100px, 25vh, 500px);
  width: 3px;
  background-color: black;
}

.rightPanel {
  min-height: 100vh;
  position: sticky;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  width: 50px;
}
.rightPanel .navIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rightPanel .toTop {
  margin-bottom: 100px;
}
.rightPanel .toTop i {
  color: #fd5800;
  opacity: 50%;
}

.background {
  position: relative;
}
.background .bgLayer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: visible;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.background .bgLayer1 .mainImage {
  width: 700px;
  height: 700px;
  -webkit-transform: translate(20%);
          transform: translate(20%);
}
.background .bgLayer1 .bgImage {
  opacity: 50%;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
  z-index: -9;
  -webkit-transform: scale(3) translate(20%);
          transform: scale(3) translate(20%);
}
.background .circleContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 40vh;
  left: 40vw;
}
.background .circleContainer .circle {
  background-color: #fd5800;
  opacity: 50%;
}
.background .circleContainer .circle.small {
  height: 100px;
  width: 100px;
}
.background .circleContainer .circle.large {
  height: 250px;
  width: 250px;
  margin-right: 100px;
}

.home {
  min-height: 100vh;
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .sectionText {
  padding: 10px 0;
  justify-self: flex-end;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
  width: 100%;
  height: 90vh;
  pointer-events: none;
}
.home .sectionText h1 {
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
}
.home .sectionText h2 {
  font-size: 4rem;
}
.home .sectionText h3 {
  font-size: 3rem;
}
.home .sectionText p {
  font-size: 2rem;
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.home .role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  width: 350px;
}
.home .role .swipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .role .swipe .otherRoles {
  padding-left: 20px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 100px 0 0;
  position: relative;
}
.about .sectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 100vh;
}
.about .sectionHeader h2 {
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  height: 45%;
}
.about .sectionHeader .lineContainer {
  height: 50%;
}
.about .sectionHeader .lineContainer .accentLine {
  width: 5px;
  height: clamp(300px, 40vh, 500px);
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.about .sectionContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 50px;
}
.about .sectionContent .aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .sectionContent .aboutMe .imgContainer {
  width: 40%;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #6a6a75;
}
.about .sectionContent .aboutMe .imgContainer img {
  max-width: 100%;
  height: auto;
}
.about .sectionContent .aboutMe .textContainer {
  width: 60%;
  margin: 60px;
}
.about .sectionContent .aboutMe .textContainer p {
  margin: 20px 0;
}
.about .sectionContent .techStack {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .sectionContent .techStack li {
  margin: 50px;
  text-align: center;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.projects img:hover, .projects img:focus {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.projects .sectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}
.projects .sectionHeader .accentLine {
  width: 150px;
  margin: 20px 0;
}
.projects .projectContainer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}
.projects .projectContainer .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 50px;
  background-color: #ffe9e1;
  border-radius: 10px;
}
.projects .projectContainer .project .imgContainer {
  border-radius: 50%;
  overflow: hidden;
  width: 40%;
  height: auto;
}
.projects .projectContainer .project .textContainer {
  margin: 0 30px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.projects .projectContainer .project .textContainer p {
  margin-bottom: 20px;
}
.projects .projectContainer .project .textContainer .links {
  letter-spacing: 10px;
}
.projects .projectContainer li:nth-child(2) {
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .images {
  width: 40vw;
}
.contact .sectionContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60vw;
  margin: 20px 20px 20px 100px;
}
.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 999;
}
.contact form .personalInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 20px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact form .personalInfo li {
  width: 45%;
}
.contact form .personalInfo li input {
  width: 100%;
}
.contact form .messageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 20px);
  justify-self: space-between;
}
.contact form .messageContainer input, .contact form .messageContainer textarea {
  width: 100%;
}
.contact form input, .contact form textarea {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
}
.contact form input:hover, .contact form input:focus, .contact form textarea:hover, .contact form textarea:focus {
  -webkit-box-shadow: 5px 5px #dbdbdb;
          box-shadow: 5px 5px #dbdbdb;
}
.contact form button {
  all: unset;
  background-color: #ffe9e1;
  color: #151515;
  padding: 10px 20px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 0;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact form button:hover, .contact form button:focus {
  background-color: #fdaa7e;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.contact .socialMediaContainer {
  padding: 50px 0;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .socialMediaContainer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.contact .socialMediaContainer a p {
  padding: 10px;
}

footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
footer .accentLine {
  width: 40%;
  border-radius: 5px;
}
footer p {
  width: 20%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-align: center;
}